{% extends 'starter-template.html' %}
{% block content %}

<div class="d-flex justify-content-center">
  <form action="" method="post" enctype="multipart/form-data" class="w-100" style="max-width: 400px;">
    {% csrf_token %}
    
    <div class="card shadow">
      <div class="card-header">
        <div class="card-title mb-0">Enroll Form</div>
      </div>
      
      <div class="card-body">
        <div class="mb-3">    
          <label for="formFile" class="form-label">Upload File</label>
          <input type="file" name="list" id="formFile" class="form-control" required>
        </div>
        
        <div class="mb-3">
          <label for="courseSelect" class="form-label">Select Course</label>
          <select id="courseSelect" name="course" class="form-select" required>
            {% for i in course %}
            <option>{{ i.course_name }}</option>
            {% endfor %}
          </select>
        </div>

        <div class="mb-3">
          <label for="startDate" class="form-label">Select Start Date</label>
          <input type="date" name="start_date" id="startDate" class="form-control" required>
        </div>
      

      <div class="mt-2 ">
        <button type="submit" class="btn btn-primary">Save</button>
        <button type="button" class="btn btn-danger" onclick="history.back()">
          <i class="fas fa-times"></i>&nbsp;Cancel
        </button>
      </div>
    </div>
  </div>  
  </form>
</div>

{% if skipped_emails %}
  <script>
    alert("The following emails do not exist and were skipped:\n\n{% for email in skipped_emails %}{{ email }}\n{% endfor %}");
  </script>
{% endif %}

{% endblock content %}
