{% extends 'starter-template.html' %}
{% block content %}

<style>
  .abc {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .ab {
    flex: 1;
    padding: 20px;
  }

  .si {

    
    padding: 15px;
    
    
    top: 5px;
  }

  .si h3 {
    margin-top: 0;
    font-size: 16px;
    text-align: center;
  }

  .si a {
    text-decoration: none;
  }

  .si button {
    display: block;
    width: 100%;
    
    padding: 8px 10px;
    font-size: 14px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    text-align: left;
    cursor: pointer;
  }

  .si button:hover {
    background-color: #0056b3;
  }
  .but{
    width:120px;
    
  }
</style>

<a href="{% url 'enrollinput' %}"><button type="button" class="btn btn-primary" style="margin-bottom: 20px;">
    Enroll Student Excel
  </button></a>
  <a href="{% url 'enroll_single_student' %}"><button type="button" class="btn btn-primary" style="margin-bottom: 20px;">
    Enroll Student Single
  </button></a>



  <!-- MAIN CONTENT -->
   
        
   <div class="row">
    <div class="col-md-10">

        <div class="card card-round">        
  
    {% if course %}
     
    <div class="card-header">
          <div class="card-head-row card-tools-still-right">
            <div class="card-title">
            
      Students enrolled in {{ course.course_name }}</div>
      </div>
      </div>
      <div class="ms-3 mt-2">
      <a href="{% url 'complete_all_status' course.id %}" >
        <button type="button" class="btn btn-success mb-3">Change All to Complete</button>
        
      </a>
      </div>
      <div class="table-responsive">
        <!-- Projects table -->
        <table class="table align-items-center mb-0">
          <thead class="thead-light">
            <tr>
              <th scope="col" >Student</th>
              <th scope="col" class="text-end">Course</th>
              <th scope="col" class="text-end">Enroll Date</th>
              <th scope="col" class="text-end">Start Date</th>
              <th scope="col" class="text-end">Status</th>
              <th scope="col" class="text-end"></th>
            </tr>
          </thead>
          <tbody>
            {% for i in enrollments %}
    
            <tr>
              <td><a href="{% url 'detailstudent' i.student_name.id %}" style="color:black;">{{ i.student_name }}</a></td>
              <td class="text-end">{{i.course_name}}</td>
              <td class="text-end">
                {{i.enroll_date}}
              </td>
              <td class="text-end">
                {{i.start_date}}
              </td>
              <td class="text-end">
                {% if i.status == False %}
                <a href="{% url 'comstatus' i.id %}"><button class=" btn btn-secondary">Incomplete</button></a>
                {% else %}
                <button class=" btn btn-warning">Complete</button>
                {% endif %}
              </td>
              <td class="text-end">
                <a href="{% url 'deleteenroll' i.id %}"><button type="submit" class="btn btn-icon btn-link btn-danger op-8 btn "><i class="fas fa-trash fs-4"></i></button></a>
    
                {% if i.status == True %}
                {% if i.email_status == False %}
                
                <a href="{% url 'email' i.id %}"><button type="submit" class="btn btn-icon btn-link op-8 me-2 "><i class="far fa-envelope fs-4"></i></button></a>
                {% else %}
                <button type="submit" class="btn btn-secondary">Email sent</button>
                {% endif %}
                
                <a href="{% url 'homeview' i.id %}"><button type="submit" class="btn btn-icon btn-link btn-success op-8"><i class="fas fa-download fs-4"></i></button></a>
    
                {% else %}
    
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      
  
    {% else %}
    
          <div class="m-3">Please select a course from the sidebar to view enrollments.</div>
      
    {% endif %}
  </div>
      </div>

  <!-- SIDEBAR -->
 <div class="col-md-2">
      <div class="card card-round">
        <div class="card-header">
          <div class="card-head-row card-tools-still-right">
            <div class="card-title">Courses</div>
            </div>
          </div>
    <div class="card-body p-0 ">
      <table align="center">
       
      
        {% for i in course_name %}
        <tr>
        <td >
        <div class="mt-2 mb-1" >
          <a href="{% url 'enrollview' i.id %}">
            <button type="button" class="but btn btn-primary">{{ i.course_name }}</button>
          </a>
        </div>
      </td>
     
    </tr>
        {% endfor %}
  
  
  </table>
  </div>


</div>
</div>
</div>

{% endblock content %}
