<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'createcourse' %}">Create Course</a><br>
    <a href="{% url 'createstudent' %}">Create Student</a><br>
    <a href="{% url 'enrollment'%}">Enrollment</a><br>
    <a href="{% url 'studentlist' %}">Student List</a><br>
    <a href="{% url 'courselist' %}">Course List</a><br>
    <a href="{% url 'enrolllist' %}">Enroll List</a><br>
    <a href="{% url 'logout' %}"><button>Log out</button></a>
</body>
</html>