<!DOCTYPE html>
{% load static %}


<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Certificate</title>
  <link rel="stylesheet" href="{{ domain }}{% static 'mystyle.css' %}">

  
 
</head>
<body>
  <div style="position: relative; width: 900px; margin: 0 auto;" id="container">
    <img src="{{ domain }}{% static 'image/New_Project.png' %}" alt="Certificate Template" style="width: 900px; position: relative; left: 0;">

    <p class="itis">It is hereby certified that</p>
    <p class="stuname">{{ enroll.student_name }}</p>
    <p class="having">Having successfully completed the following course</p>
    <p class="course_name">{{ enroll.course_name }}</p> 
    <p class="date">{{ enroll.start_date|date:"jS F Y" }} - {{ enroll.end_date|date:"jS F Y" }}</p>
    <p class="rig">RIG/{{ enroll.course_name.short_name }}/{{enroll.enroll_id}}</p> 
    <p class="sdate">{{ i.email_date}}</p>

  </div>


  
</body>
</html>
