{% extends 'starter-template.html' %}
{% block content %}
<!-- Button trigger modal -->
 
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="margin-bottom: 20px;">
  Add Trainer
</button>


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Create Trainer Form</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
          <form method="POST">
            {% csrf_token %}
            {{ trainerform.as_p }}
            <button type="submit" class="btn btn-primary mt-3">Save</button>
          </form>
      
      </div>
     
    </div>
  </div>
</div>

<!--End Modal-->

<div class="table-responsive">
    <!-- Projects table -->
    <table class="table align-items-center mb-0">
      <thead class="thead-light">
        <tr>
          <th scope="col" >Trainer</th>
          <th scope="col" class="text-end">Email</th>
          <th scope="col" class="text-end">Phone</th>
          <th scope="col" class="text-end"></th>
        </tr>
      </thead>
      <tbody>
        {% for i in trainer_obj %}
        <tr>
          <td >{{i.trainer_name}}</td>
          <td class="text-end">{{i.email}}</td>
          <td class="text-end">{{i.phone}}</td>
          <td class="text-end">
            <a href="{% url 'deletetrainer' i.id %}"><button type="submit" class="btn btn-danger">Delete</button></a>
            <a href="{% url 'updatetrainer' i.id %}"><button type="submit" class="btn btn-success">Update</button></a>
          </td>
        </tr>
        {% endfor %}
       
      </tbody>
    </table>
  </div>
  
<nav aria-label="Page navigation example" class="pt-3">
    <ul class="pagination">
      
      {% if trainer_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
          <span aria-hidden="true">&laquo; Previous</span>
        </a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <span class="page-link" aria-label="Previous">&laquo; Previous</span>
      </li>
      {% endif %}
  
      <!-- Current page as active -->
      <li class="page-item active" aria-current="page">
        <span class="page-link">
          {{ trainer_obj.number }}
        </span>
      </li>
  
      {% if trainer_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
          <span aria-hidden="true">Next &raquo;</span>
        </a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <span class="page-link" aria-label="Next">Next &raquo;</span>
      </li>
      {% endif %}
  
    </ul>
  </nav>
  
   
   

{% endblock content %}