{% extends 'starter-template.html' %}
{% block content %}
<div class="d-flex justify-content-center my-4">
  <div style="max-width: 400px; width: 100%;">
    <form method="POST">
      {% csrf_token %}
      <div class="card shadow">
        <div class="card-body">
          {{ obj }}
          <button type="submit" class="btn btn-primary mt-3">Save</button>
          <button type="button" class="btn btn-danger mt-3" onclick="history.back()">
            <i class="fas fa-times">&nbsp;Cancel</i> 
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
