body{
    background-color: white;
}
img{
   
  position:relative;
  width:900px;
  left:17%;
  
  
    
}
.itis{
    position:absolute;
    top:40%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
}
.stuname{
    position:absolute;
    top:43%;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    font-size: 35px;
    
}
.having{
    font-size: 17px;
    position:absolute;
    top:56%;
    left: 50%;
    transform: translateX(-50%);
}
.course_name{
    font-size: 17px;
    position:absolute;
    top:60%;
    left: 50%;
    transform: translateX(-50%);
    
}
.date{
    font-size: 17px;
    position:absolute;
    top:64%;
    left: 50%;
    transform: translateX(-50%);
    
}
.rig{
    font-size: 20px;
    position:absolute;
    top:72%;
    left: 28%;
    transform: translateX(-50%);
}
.sdate{
    font-size: 20px;
    position:absolute;
    top:77%;
    left: 28%;
    transform: translateX(-50%);
}

.print{
    position:absolute;
    top:10px;
    left:20px;
    padding: 8px;
    background-color: skyblue;
    border-style: none;
    border-radius: 5px;
    width:60px;
    height:30px;
    color:white;
}
.riglogo{
    width:80px;
    height:80px;
    position:absolute;
    left:0%;
}
.logoname{
    position:absolute;
    left:29%;
    top:30%;
    color:white;
}
.title{
    color: blue;
    font-size: 25px;
    margin-left: 20px;
    margin-top:5px;
}

