body{
    background-color: white;
}
img{
   
  position:relative;
  width:900px;
  left:17%;
  
  
    
}
.itis{
    position:absolute;
    top:40%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
}
.bac{
     position:absolute;
    top:40%;
    left: 50%;
    opacity: 0.05;
    font-family: 'Poppins', sans-serif;
    transform: translateX(-50%);
    font-weight: 500;
    font-size: 40px;
    z-index: 1;

}
.stuname{
    position:absolute;
    top:43%;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 500;
    font-size: 35px;
    z-index: 2;
    
}

.having{
    font-size: 17px;
    position:absolute;
    top:56%;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Poppins', sans-serif;
}
.course_name{
    font-size: 17px;
    position:absolute;
    top:60%;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    
}
.date{
    font-size: 17px;
    position:absolute;
    top:64%;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Poppins', sans-serif;
    
}
.rig{
    font-size: 20px;
    position:absolute;
    top:72%;
    left: 28%;
    transform: translateX(-50%);
}
.sdate{
    font-size: 20px;
    position:absolute;
    top:77%;
    left: 28%;
    transform: translateX(-50%);
}

.print{
    position:absolute;
    top:10px;
    left:100px;
    padding: 8px;
    background-color: rgb(110, 230, 160);
    border-style: none;
    border-radius: 5px;
    width:70px;
    height:35px;
    color:white;
}
.back{
    position:absolute;
    top:10px;
    left:20px;
    padding: 8px;
    background-color: rgb(66, 172, 214);
    border-style: none;
    border-radius: 5px;
    width:70px;
    height:35px;
    color:white;
}

.riglogo{
    width:80px;
    height:80px;
    position:absolute;
    left:0%;
}
.logoname{
    position:absolute;
    left:10%;
    top:16%;
    font-size:28px;
    color:white;
    font-weight: bold;
}
.title{
    color: #5b54c9;
    font-size: 25px;
    margin-left: 20px;
    margin-top:5px;
}
.acclogo{
    
    color: #5b54c9;
}
.acclogo:hover{
    color: #2A2F5B;
}

